body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.invite-list .invite {
    border: 1px solid #555;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
}

.invite-list .invite .name {
    font-weight: bold;
}

.invite-list .invite .author {
    font-style: italic;
    color: gray;
}

.invite-list .invite.selected {
    background: lightblue;
}

